{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/reg.css' %}" />

</head>
<body>
    <h2>Login</h2>
    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      <label for="username">Username:</label>
      <input type="text" name="username" required>
      <label for="password">Password:</label>
      <input type="password" name="password" required>
      <button type="submit">Login</button>
    </form>
    {% if messages %}
      {% for message in messages %}
        <p><strong>{{ message }}</strong></p>
      {% endfor %}
    {% endif %}
    <p>You don't have an account?? <a href="{% url 'register' %}">Register</a></p>
</body>
</html>
